  .info-screen {
    text-align: center;
    margin-top: 50px;
  }
  
  .info-screen h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .info-screen p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .info-screen button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
  }

  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
  }

  .game-container canvas {
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #000;
    max-width: 100%;
    max-height: 100%;
  }