.info-screen {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  background-color:black;
}

.info-screen h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.info-screen p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.info-screen button {
  font-size: 1em;
  padding: 10px 20px;
  cursor: pointer;
}

.game-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container canvas {
    width: 100vw;
    max-width: 178vh;
    max-height: 100vh;
    aspect-ratio: 16 / 9;
}

